<div class="card-inicial">
    <h2>Embarque para um Sonho em Paris!</h2>
    <div class="card">
        <div class="card-img"></div>
        <div class="card-content">
            <h2>Paris</h2>
            <p>Viva o romance e a história da Cidade Luz! Passeie às margens do Sena, encante-se com a majestosa Notre-Dame e saboreie croissants frescos em cafés charmosos. Uma experiência inesquecível espera por você!</p>
            <div class="price">R$ 5.999,00</div>
            <ol>
                <li>Passagem de Ida e Volta</li>
                <li>Café da Manhã incluído</li>
                <li>3 diárias</li>
            </ol>
            <div class="button-container">
                <button mat-raised-button color="primary">Cadastre-se</button>
            </div>
        </div>
    </div>
</div>
