<div class="form-container">
    <h1>Formulário de Interesse - Sua Viagem para Paris</h1>
    <div class="form-description">
        <p>Embarque para uma experiência inesquecível na Cidade Luz! Desfrute de 3 diárias em um charmoso hotel boutique
            no coração de Paris, com café da manhã incluso, servido com croissants frescos e café parisiense. Explore
            atrações icônicas como a Torre Eiffel, o Museu do Louvre e a Catedral de Notre-Dame, passeie pelas margens
            do Rio Sena e descubra a magia dos bairros de Montmartre e Le Marais. Suas passagens de ida e volta garantem
            uma viagem tranquila, com todo o conforto que você merece.</p>
    </div>
    <div class="form-content">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Seu nome</mat-label>
                <input matInput placeholder="Como se chama?" value="Nome">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Deixe um comentário</mat-label>
                <textarea matInput placeholder="Gostaria de saber as datas..."></textarea>
            </mat-form-field>
            <div class="button-container">
                <button mat-raised-button color="primary">Enviar</button>
            </div>
        </form>
    </div>
</div>